// use the params to define reference files, directories, and CLI options
// these links are broken - just here to understand references/file types

params {

    // reads and references
    reads = "/projectnb/bf528/students/ipfeiff/project-1-ipfeiff-1/samples/full_files/*_{R1,R2}.fastq.gz"
    genome = "$projectDir/refs/GRCh38.primary_assembly.genome.fa"
    gtf = "$projectDir/refs/gencode.v45.primary_assembly.annotation.gtf"

    // directories
    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"

}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 8
                    clusterOptions = "-P bf528 -l mem_per_core=8G"
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 20
    }
    $local {
        cpus = 1
    }
}

//miscellaneous CLI flags
resume = true
